.footer{
    width:100% ;
    padding: 20px;
    background-color: balck;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer >span{
    color:white;
    font-weight: 700;
    font-size: 2rem;

}